git+https://github.com/django-nonrel/django.git
Pillow==3.0.0
PyYAML==3.11
amqp==1.4.8
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.22
blinker==1.4
celery==3.1.19
django-mongodb-engine==0.6.0
#git+https://github.com/umutbozkurt/django-rest-framework-mongoengine.git@04701d1f285e470ea8902035677ff7898f7358b9
git+https://github.com/umutbozkurt/django-rest-framework-mongoengine.git
django-rest-swagger==0.3.4
djangorestframework==3.2.4
djangotoolbox==1.8.0
kombu==3.0.32
mongoengine==0.10.0
pyes==0.99.6
pymongo==3.0.3
pytz==2015.7
six==1.10.0
urllib3==1.15.1
wsgiref==0.1.2

####
# Additional dependencies, not covered in PIP
# (1) MONGODB  
# (2) sudo apt-get install libjpeg8-dev
# (3) sudo apt-get install rabbitmq-server

