Django==1.6.11
PyYAML==3.11
argparse==1.2.1
django-mongodb-engine==0.6.0
django-rest-framework-mongoengine==2.0.2
django-rest-swagger==0.3.4
djangorestframework==3.2.4
djangotoolbox==1.8.0
mongoengine==0.10.0
pymongo==3.0.3
wsgiref==0.1.2
django-gcm==1.1.0
####
# Additional dependencies, not covered in PIP
# (1) MONGODB  
# (2) sudo apt-get install libjpeg8-dev
