{"id": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "gender": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"}, 
 "username": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "email": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "city": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "state": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "pin": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "point":{"boost": 1.0, "index": "analyzed", "type": "geo_point", "store": "yes"},
 }