{"name": "{{name}}","display_name": "{{display_name}}","caption": "{{caption}}","type": "digital","tags": "{{tags}}","enabled": "True","source_internet_settings": {{source_internet_settings}},"category": "{{category}}","point":{{point}}}