{"id": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "display_name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "survey_name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "address1": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "address2": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "city":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "state":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "country":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "location":{"boost": 1.0, "index": "analyzed", "type": "geo_point", "store": "yes"}
 }