{
    "version" : "1.0"
	"cmdType": "registerVenue",
	"header": [
	],
	"venueName": {{venuename}},
	"location": {{location}}
	"auth": {
		"user": {{user}},
		"password": {{password}}
	}
	"requestDate": {{requestDate}}
}