{"platform" : "series5", "platformId" : "series5", "campaignName" : "{{ campaignName }}", "beginDate": "{{ beginDate }}", "endDate": "{{ endDate }}", "startMinute": "00:00", "endMinute": "00:00", "timeZone" : "IST", "advertiser" : "series5", "advertiserId" : "series5", "venueId": "{{ venueId }}", "zoneId": "{{ zoneId }}", "campaignType" : "web_content", "description" : "{{ description }}", "url":"{{ url }}"}