{"id": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "display_name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "caption": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "tags": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "street_name": {"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "city":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "state":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "country":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"},
 "point":{"boost": 1.0, "index": "analyzed", "type": "geo_point", "store": "yes"},
 "pin":{"boost": 1.0, "index": "analyzed", "type": "string", "store": "yes"}
 } 